.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(2,6,23,.95);
  padding: 25px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #38bdf8;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-menu a {
  color: white;
}

.nav-menu a:hover {
  color: #38bdf8;
}

.socials {
  display: flex;
  gap: 20px;
  font-size: 22px;
}